.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(20, 60, 60, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 2000;
}

.navbar img {
    height: 40px;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

.navbar nav a:hover {
    color: #2ecc71;
}

/* ===== FIX LEAFLET MAP ===== */
#map {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
}
