/* ===== NAVBAR ===== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(20, 60, 60, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 9999;
}

.navbar img {
    height: 40px;
}

.navbar nav a {
    color: #fff !important;
    text-decoration: none !important;
    margin-left: 25px;
    font-weight: 500;
}

/* ===== FIX MAP LEAFLET ===== */
html, body {
    height: 100%;
    margin: 0;
}

#map {
    position: absolute;
    top: 70px;                 /* setinggi navbar */
    left: 0;
    right: 0;
    bottom: 0;
}
